{% extends "Cryptoapp/base.html" %}

{% block content %}
    <div class="row justify-content-center mt-5">
        <div class="col-md-5">
            <h2 style="color:white">Sign up</h2>
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-md-5">
            {% if error %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endif %}
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="Username" style="color:white">Username</label>
                    <input type="text" name="Username" class="form-control" id="Username" required>
                </div>
                <div class="form-group">
                    <label for="first_name" style="color:white">First name</label>
                    <input type="text" name="first_name" class="form-control" id="first_name" required>
                </div>
                <div class="form-group">
                    <label for="last_name" style="color:white">Last name</label>
                    <input type="text" name="last_name" class="form-control" id="last_name" required>
                </div>
                <div class="form-group">
                    <label for="email" style="color:white">E-mail</label>
                    <input type="email" name="email" class="form-control" id="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2, 4}$" required>
                </div>
                <div class="form-group">
                    <label for="password" style="color:white">Password</label>
                    <input type="password" name="password" class="form-control" id="password" minlength="8" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"  required>
                </div>
                <div >
                  <p style="color:red" > The password need to contain an uppercase and lowercase plus a special character with a minlength of 8</p>
                </div>
                <div class="form-group">
                    <label for="password1" style="color:white">Confirm the password</label>
                    <input type="password" name="password1" class="form-control" id="password1"  required>
                </div>
                <br>
                <button type="submit" class="btn btn-warning" style="color:black">Sign up</button>
                <br>
                <br>
                <div class="text-center" style="color:white" >
                    You have an account? <br> <a href="{% url 'login' %}"> Login here !</a>
                </div>
            </form>
            <hr>
        </div>
    </div>
<script id="rendered-js" >
var password = document.getElementById("password")
  , confirm_password = document.getElementById("password1");

function validatePassword(){
  if(password.value != confirm_password.value) {
    confirm_password.setCustomValidity("Passwords Don't Match");
  } else {
    confirm_password.setCustomValidity('');
  }
}

password.onchange = validatePassword;
confirm_password.onkeyup = validatePassword;
//# sourceURL=pen.js
</script>
{% endblock %}
